<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Hamburguesas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/Americana.jpg" alt="">
      <div class="content">
        <h3>Americana</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Manchega.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mexina.jpg" alt="">
      <div class="content">
        <h3>Mexicana</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Pollo_Crispy.jpg" alt="">
      <div class="content">
        <h3>Pollo Crispy</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Pulled.jpg" alt="">
      <div class="content">
        <h3>Pulled Pork</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Valenciana.jpg" alt="">
      <div class="content">
        <h3>Valenciana</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/De_foie.jpg" alt="">
      <div class="content">
        <h3>De Foie</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Brie.jpg" alt="">
      <div class="content">
        <h3>Brie</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
  </div>

</section>
<section th:replace="~{footer/footer}"></section>