<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Hamburguesas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/Americana.jpg" alt="">
      <div class="content">
        <h3>Americana</h3>
        <p>250 g de suculenta carne de entrecot, doble de beicon crujiente, cebolla morada pochada, queso cheddar fundido y maíz tostado. Acompañada de mazorca y salsa barbacoa.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Manchega.jpg" alt="">
      <div class="content">
        <h3>Manchega</h3>
        <p>Queso manchego semicurado, jamón serrano, pimientos verdes, aceite de oliva virgen acompañada de nuestra salsa inferno..</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mexina.jpg" alt="">
      <div class="content">
        <h3>Mexicana</h3>
        <p>Carne especiada estilo tex-mex, con tomate, lechuga, queso cheddar fundido, pimientos verdes y crujiente de maíz.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Pollo_Crispy.jpg" alt="">
      <div class="content">
        <h3>Pollo Crispy</h3>
        <p>Pollo empanado, rúcula, cebolla caramelizada, pesto y mayonesa. 150 g.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Pulled.jpg" alt="">
      <div class="content">
        <h3>Pulled Pork</h3>
        <p>Carne de cerdo horneada a fuego lento, deshilachada con salsa barbacoa y beicon crujiente. Añádele aros de cebolla o cebolla crunch.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Valenciana.jpg" alt="">
      <div class="content">
        <h3>Valenciana</h3>
        <p>Figatell gigante, salsa mery (picaeta de ajo y perejil), queso cheddar fundido, cebolla pochada y pimientos verdes.
          Acompañada de ajoaceite y "espencat" elaborada al horno de leña. 150 g.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/De_foie.jpg" alt="">
      <div class="content">
        <h3>De Foie</h3>
        <p>Mousse de foie tostado, cebolla caramelizada, rúcula y magret de pato curado. Dale un toque con beicon crujiente o salsa hoisin.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Brie.jpg" alt="">
      <div class="content">
        <h3>Brie</h3>
        <p>Suave queso brie, beicon, lechuga, tomate y cebolla caramelizada.</p>
      </div>
    </div>
  </div>

</section>
<section th:replace="~{footer/footer}"></section>