<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<section class="containerNosotros section_2">
  <h3 class="section_2_title">Sobre nosotros</h3>
  <div class="us">
    <div class="us-text">
      <div class="us-paragraph">
        <p class="paragraph-text">Somo una empresa que ofrece a los visitantes una muestra de la mejor gastronomia italiana, en un ambiente romantico y acogedor.
        </p>
        <p class="paragraph-text">Nuestro espiritu innovador y expresivo se manifesta en nuestros productos, pero tambien en nuestros locales, la musica, nuestro ambiente y servicio
        </p>
        <p class="paragraph-text">
          Nuestras Burgers son 100% artesanales, sin conservantes ni aditivos, hechas con carne Angus certificada, molidas diariamente y nunca congeladas y van acompañadas con nuestras
          patatas fritas caseras, carpantas u horno, nuestra massas de pizza son artesanales con ingredientes de primera calidad.
        </p>
      </div>
      <div class="us-rs">
        <h3 class="us-rs-title">Nuestras redes sociales</h3>
        <div class="rs-icon">
          <a href="" class="rs-link"><img src="/img/facebook_109862.png" alt=""></a>
          <a href="" class="rs-link"><img src="/img/instagam_109863.png" alt=""></a>
          <a href="" class="rs-link"><img src="/img/whatsapp_109861.png" alt=""></a>
          <a href="" class="rs-link"><img src="/img/youtube_109860.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="us-img">
      <img src="/img/woman-burger.jpg" alt="" class="img-img">
    </div>
  </div>
</section>
<section class=""></section>
<section class=""></section>
<section class=""></section>
<section class=""></section>


<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="/img/logo.png" alt="Logo La Casa Nostra">
        </a>
      </figure>
    </div>
    <div class="box">
    </div>
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small>&copy; 2023 <b>La Casa Nostra</b> - Todos los Derechos Reservados.</small>
  </div>
</footer>
<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
