<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Ensaladas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/crujiente.jpg" alt="">
      <div class="content">
        <h3>Ensalada Crujiente</h3>
        <p>Mezcla de lechugas, tomate cherry, aceitunas, beicon en tiras, queso emmental, salsa ranchera y crujiente de maíz.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/de_la_casa.jpg" alt="">
      <div class="content">
        <h3>Enlasada De La Casa</h3>
        <p>Mezcla de lechugas con queso de cabra, pasas, nueces y tomate cherry, aliñada con salsa de confitura de tomate.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/pato.jpg" alt="">
      <div class="content">
        <h3>Ensala De Pato</h3>
        <p>Mezcla de lechugas, tomate cherry, picatostes, anacardos, mousse de foie tostado
          y magret de pato curado, aliñada con una vinagreta agridulce de miel y mostaza..</p>
      </div>
    </div>
  </div>

</section>
<section th:replace="~{footer/footer}"></section>