<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Enladas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/crujiente.jpg" alt="">
      <div class="content">
        <h3>Ensalada Crujiente</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/de_la_casa.jpg" alt="">
      <div class="content">
        <h3>Enlasada De La Casa</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/pato.jpg" alt="">
      <div class="content">
        <h3>Ensala De Pato</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/cesar.jpg" alt="">
      <div class="content">
        <h3>Ensalada Cesar</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/zeus.jpg" alt="">
      <div class="content">
        <h3>Ensalada Zeus</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
  </div>

</section>
<section th:replace="~{footer/footer}"></section>