<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
    <h1>Bebidas</h1>
</div>
<section class="gallery" id="gallery">
    <div class="box-container">

        <div class="box">
            <img src="/img/CocaCola.jpg" alt="">
            <div class="content">
                <h3>Coca-Cola</h3>
                <p>Coca-Cola de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/zero.jpg" alt="">
            <div class="content">
                <h3>Coca-Cola Zero</h3>
                <p>Coca-Cola Zero de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/zero_zero.jpg" alt="">
            <div class="content">
                <h3>Coca-Cola Zero Zero</h3>
                <p>Coca-Cola Zero Zero de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/conGas.jpg" alt="">
            <div class="content">
                <h3>Agua con gas</h3>
                <p>Agua con gas Solan De Cabras de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/agua.jpg" alt="">
            <div class="content">
                <h3>Agua</h3>
                <p>Agua Solan De Cabras de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/naranja.jpg" alt="">
            <div class="content">
                <h3>Fanta Naranja</h3>
                <p>Fanta Naranja de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/naranja_zero.jpg" alt="">
            <div class="content">
                <h3>Fanta Naranja Zero</h3>
                <p>Fanta Naranja Zero de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/limon.jpg" alt="">
            <div class="content">
                <h3>Fanta Limon</h3>
                <p>Fanta limon de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/limon_zero.jpg" alt="">
            <div class="content">
                <h3>Fanta Limon Zero</h3>
                <p>Fanta Limon Zero de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/aqua_limon.jpg" alt="">
            <div class="content">
                <h3>Aquarius Limon</h3>
                <p>Aquarius Limon de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/aqua_naranja.jpg" alt="">
            <div class="content">
                <h3>Aquarius Naranja</h3>
                <p>Aquarius Naranja de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/nestea.jpg" alt="">
            <div class="content">
                <h3>Nestea</h3>
                <p>Nestea de 330ml.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/trina.jpg" alt="">
            <div class="content">
                <h3>Trina de Naranja</h3>
                <p>Trina de Naranja de 330ml</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/trina_zero_limon.jpg" alt="">
            <div class="content">
                <h3>Trina de Naranja Zero</h3>
                <p>Trina de Naranja Zero de 330ml</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/zumo_piña.jpg" alt="">
            <div class="content">
                <h3>Zumo de Piña</h3>
                <p>Zumo de Piña de 200ml.</p>
            </div>
        </div>
    </div>

</section>
<section th:replace="~{footer/footer}"></section>

