<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
    <h1>Ensaladas</h1>
</div>
<section class="gallery" id="gallery">
    <div class="box-container">

        <div class="box">
            <img src="/img/coronita.jpg" alt="">
            <div class="content">
                <h3>Coronita</h3>
                <p>Coronita con un 4,5% grado alcoholico.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/cruzcampo.jpg" alt="">
            <div class="content">
                <h3>Cruzcampo</h3>
                <p>Cruzcampo con un 5,6% grado alcoholico.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/heineken.jpg" alt="">
            <div class="content">
                <h3>Heineken</h3>
                <p>Heineken con un 5% grado alcoholico.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/ladron_frutos_rojos.jpg" alt="">
            <div class="content">
                <h3>Ladron de frutos rojos</h3>
                <p>Ladro de frutos rojos con un 4.5% grado alcoholico.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/ladron_manzana_manzana.jpg" alt="">
            <div class="content">
                <h3>Ladron de manzana</h3>
                <p>Ladro de manzana con un 4.5% grado alcoholico.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/paulaner.jpg" alt="">
            <div class="content">
                <h3>Paulaner</h3>
                <p>Paulaner con un 5,5% grado alcoholico.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/radler.jpg" alt="">
            <div class="content">
                <h3>Radler de limon</h3>
                <p>Radler de limon con un 2% grado alcoholico.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/sin_filtrar.jpg" alt="">
            <div class="content">
                <h3>Aguila Sin Filtrar</h3>
                <p>Aguila Sin Filtrar con un 5.5% grado alcoholico .</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/aguila_filtrada.jpg" alt="">
            <div class="content">
                <h3>Aguila Filtrada</h3>
                <p>Aguila Filtrada con un 5.5% grado alcoholico.</p>
            </div>
        </div>
    </div>

</section>
<section th:replace="~{footer/footer}"></section>