<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
    <h1>Entrantes</h1>
</div>
<section class="gallery" id="gallery">
    <div class="box-container">

        <div class="box">
            <img src="/img/Alitas.jpg" alt="">
            <div class="content">
                <h3>Alitas Kentucky</h3>
                <p>Alitas de pollo rebozadas al estilo Kentucky..</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Cheese_bites.jpg" alt="">
            <div class="content">
                <h3>Cheese Bites</h3>
                <p>Deliciosa mezcla de quesos y pimientos empanados con nachos.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Citan_Bacon_Cheese.jpg" alt="">
            <div class="content">
                <h3>Cintas Bacon Cheese</h3>
                <p>Massa de pizza hecha con salsa ranchera, mezcla de quesos y bacon crujiente,</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Aros_De_Cebolla.jpg" alt="">
            <div class="content">
                <h3>Aros De Cebolla</h3>
                <p>Ideales para abrir boca, servidos con salsa barbacoa.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Finger_Queso_Gouda.jpg" alt="">
            <div class="content">
                <h3>Finger De Queso Gouda</h3>
                <p>Palitos de queso fundidos rebozados, acompañados de salsa barbacoa, salsa ranchera o mermelada de arándanos.
                    ¡Se derretirá en tu boca!</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Carpacho.jpg" alt="">
            <div class="content">
                <h3>Carpacho</h3>
                <p>Finas lonchas de solomillo de vaca, aderezado con nuestra vinagreta balsámica, rúcula y escamas de parmesano. Inspiración veneciana.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Patatas_Carpanta.jpg" alt="">
            <div class="content">
                <h3>Patatas Carpanta</h3>
                <p>Patatas fritas acompañadas con nuestra salsa inferno (con un toque picante). Dos tamaños a elegir (mediana | grande)</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Paladeo_ParaDos.jpg" alt="">
            <div class="content">
                <h3>Paladeo Para Dos</h3>
                <p>Dos fingers de queso, dos cheese bites, dos alitas de pollo al estilo Kentucky y aros de cebolla.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Quesadilla.jpg" alt="">
            <div class="content">
                <h3>Quesadilla</h3>
                <p>Tortita de trigo rellena de mezcla de quesos, pollo barbacoa estilo tex-mex con pimiento y cebolla, salsa ranchera y crujiente de maíz.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Paladeo.jpg" alt="">
            <div class="content">
                <h3>Paladeo</h3>
                <p>Degustación de entrantes: fingers de queso gouda, aros de cebolla, alitas Kentucky y cheese bites. No te quedes con las ganas de probar uno solo.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Graten_3_Salsas.jpg" alt="">
            <div class="content">
                <h3>Graten 3 Salsas</h3>
                <p>Patatas al horno con Salsa Infierno coronado con un huevo, Roquefort con salsa roquefort con queso brie
                y Ranchera con beicon en tiras  y mezcla de quesos fundidos.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Provolone_Ajo.jpg" alt="">
            <div class="content">
                <h3>Provolone Tomate Ajo</h3>
                <p>Queso gratinado al horno acompañado de focaccia, pan crostini y tomate cherry con orégano y aceite de oliva virgen extra. ¡Delicia del sur de Italia!
                    Con tomate y ajo</p>
            </div>
        </div>
    </div>

</section>
<section th:replace="~{footer/footer}"></section>