<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
    <h1>Entrantes</h1>
</div>
<section class="gallery" id="gallery">
    <div class="box-container">

        <div class="box">
            <img src="/img/Alitas.jpg" alt="">
            <div class="content">
                <h3>Alitas Kentucky</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Cheese_bites.jpg" alt="">
            <div class="content">
                <h3>Cheese Bites</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Citan_Bacon_Cheese.jpg" alt="">
            <div class="content">
                <h3>Cintas Bacon Cheese</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Aros_De_Cebolla.jpg" alt="">
            <div class="content">
                <h3>Aros De Cebolla</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Finger_Queso_Gouda.jpg" alt="">
            <div class="content">
                <h3>Finger De Queso Gouda</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Carpacho.jpg" alt="">
            <div class="content">
                <h3>Carpacho</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Patatas_Carpanta.jpg" alt="">
            <div class="content">
                <h3>Patatas Carpanta</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Paladeo_ParaDos.jpg" alt="">
            <div class="content">
                <h3>Paladeo Para Dos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Quesadilla.jpg" alt="">
            <div class="content">
                <h3>Quesadilla</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Paladeo.jpg" alt="">
            <div class="content">
                <h3>Quesadilla</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Graten_3_Salsas.jpg" alt="">
            <div class="content">
                <h3>Graten 3 Salsas</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Provolone_Ajo.jpg" alt="">
            <div class="content">
                <h3>Provolone Tomate Ajo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
    </div>

</section>
<section th:replace="~{footer/footer}"></section>