<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="/js/slider.js"></script>
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Pastas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">
    <div class="box">
      <img src="/img/Capeli.jpg" alt="">
      <div class="content">
        <h3>Cappelli de Foie, bacon y cebolla caramelizada</h3>
        <p>Foie 60% (block y mousse), cebolla 18%, bacon cocinado 8%, pan rallado, azúcar, aceite de oliva, fécula de patata, almidón de maíz y sal.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Delizia.jpg" alt="">
      <div class="content">
        <h3>Delizia seis quesos</h3>
        <p>Quesos 100% (ricotta, queso grana padano D.O.P., queso emmental, queso taleggio D.O.P., queso gorgonzola D.O.P. y queso azul).</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Fagotti.jpg" alt="">
      <div class="content">
        <h3>Fiocci formaggi e pera de pera</h3>
        <p>Quesos 47% (ricotta, queso grana padano D.O.P., queso taleggio D.O.P.), pera confitada 40% y pan rallado.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Lasaña.jpg" alt="">
      <div class="content">
        <h3>Lasaña Boloñesa</h3>
        <p>Lasaña boloñesa con carne pica de ternera con nuestra salsa de tomate casera.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Margherita.jpg" alt="">
      <div class="content">
        <h3>Margherita al tartufungo</h3>
        <p>Boletus edulis 70%, ricotta, queso grana padano D.O.P, pan rallado, aceite de oliva, ajo, sal y aroma de trufa.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mezzaluna_salmon.jpg" alt="">
      <div class="content">
        <h3>Mezzaluna Salmón y eneldo</h3>
        <p>Ricotta, salmón ahumado 36%, queso grana padano D.O.P., pan rallado, perejil, eneldo y sal.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mezzaluna_zucca.jpg" alt="">
      <div class="content">
        <h3>Mezzaluna Zucca e taleggio</h3>
        <p>Calabaza, pan rallado, queso Taleggio D.O.P., queso grana padano D.O.P., almidón de maíz, aceite de oliva, mostaza de Dijón, sal, galleta amaretti y ralladura de limón.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Raviolone.jpg" alt="">
      <div class="content">
        <h3>Raviolone di vitello</h3>
        <p>Carne de vacuno 80% (ternera 20%, añojo 80%), cebolla fresca, pan rallado, aceite de oliva, agua, sal y pimienta negra.</p>
      </div>
    </div>
  </div>
  <button class="botonSalsas" onclick="mostrar();">Salsas</button>
  <div id="salsas">
    <div class="box-container">
      <div class="box">
        <img src="/img/Caperana.jpg" alt="">
      </div>
      <div class="box">
        <img src="/img/Persa.jpg" alt="">
      </div>
      <div class="box">
        <img src="/img/Pesto.jpg" alt="">
      </div>
      <div class="box">
        <img src="/img/Infierno.jpg" alt="">
      </div>
      <div class="box">
        <img src="/img/Carbonara.jpg" alt="">
      </div>
      <div class="box">
        <img src="/img/Funghi.jpg" alt="">
      </div>
      <div class="box">
        <img src="/img/Roquefort.jpg" alt="">
      </div>
      <div class="box">
        <img src="/img/Boloñesa.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section th:replace="~{footer/footer}"></section>