<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="/js/slider.js"></script>
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Pastas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/Capeli.jpg" alt="">
      <div class="content">
        <h3>Capeli</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Delizia.jpg" alt="">
      <div class="content">
        <h3>Delizia</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Fagotti.jpg" alt="">
      <div class="content">
        <h3>Fagotii</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Lasaña.jpg" alt="">
      <div class="content">
        <h3>Lasaña Boloñesa</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Margherita.jpg" alt="">
      <div class="content">
        <h3>Margherita</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mezzaluna_salmon.jpg" alt="">
      <div class="content">
        <h3>Mezzaluna salmon</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mezzaluna_zucca.jpg" alt="">
      <div class="content">
        <h3>Mezzaluna Zucca</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Raviolone.jpg" alt="">
      <div class="content">
        <h3>Raviolone</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
  </div>
  <button class="botonSalsas" onclick="mostrar();">Salsas</button>
  <div id="salsas">
    <div class="box-container">
        <div class="box">
          <img src="/img/g-1.jpg" alt="">
          <div class="content">
            <h3>tasty food</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
          </div>
        </div>
      <div class="box">
        <img src="/img/g-1.jpg" alt="">
        <div class="content">
          <h3>tasty food</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        </div>
      </div>
      <div class="box">
        <img src="/img/g-1.jpg" alt="">
        <div class="content">
          <h3>tasty food</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        </div>
      </div>
      <div class="box">
        <img src="/img/g-1.jpg" alt="">
        <div class="content">
          <h3>tasty food</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section th:replace="~{footer/footer}"></section>