<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Pastas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/g-1.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/g-2.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/g-3.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/g-4.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/g-5.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/g-6.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/g-7.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/g-8.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
  </div>

</section>
<section th:replace="~{footer/footer}"></section>