<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Postres</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/Brownie.jpg" alt="">
      <div class="content">
        <h3>Brownie</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Coulant_Calabaza.jpg" alt="">
      <div class="content">
        <h3>Coulant Calabaza</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Coulant_Choco.jpg" alt="">
      <div class="content">
        <h3>Coulant Chocolate</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Cremosso_Cafe.jpg" alt="">
      <div class="content">
        <h3>Cremosso Cafe</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Panna_cotta.jpg" alt="">
      <div class="content">
        <h3>Panna cotta</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Natilla_Blanco.jpg" alt="">
      <div class="content">
        <h3>Natilla Chocolate Blanco</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Tarta_Quesos.jpg" alt="">
      <div class="content">
        <h3>Tarta De Quesos</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Tiramisu.jpg" alt="">
      <div class="content">
        <h3>Tiramisu</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
  </div>

</section>
<section th:replace="~{footer/footer}"></section>