<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Postres</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/Brownie.jpg" alt="">
      <div class="content">
        <h3>Brownie</h3>
        <p>Bizcocho de chocolate con bola de helado o nata.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Coulant_Calabaza.jpg" alt="">
      <div class="content">
        <h3>Coulant Calabaza</h3>
        <p>Bizcocho de calabaza con corazón líquido, con miel de caña y nata montada o helado de vainilla.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Coulant_Choco.jpg" alt="">
      <div class="content">
        <h3>Coulant Chocolate</h3>
        <p>Bizcocho de chocolate con corazón líquido, acompañado de leche condensada y nata montada o helado de vainilla.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Cremosso_Cafe.jpg" alt="">
      <div class="content">
        <h3>Cremosso Cafe</h3>
        <p>Crema de café acompañado de nata montada y pepitas de chocolate.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Panna_cotta.jpg" alt="">
      <div class="content">
        <h3>Panna cotta</h3>
        <p>Típico postre italiano de nata, acompañado de chocolate, mermelada de arándanos o sirope de fresa.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Natilla_Blanco.jpg" alt="">
      <div class="content">
        <h3>Natilla Chocolate Blanco</h3>
        <p>Natillas elaboradas con chocolate blanco y crujiente barquillo.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Tarta_Quesos.jpg" alt="">
      <div class="content">
        <h3>Tarta De Quesos</h3>
        <p>La mejor tarta de Queso que vas a probar...</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Tiramisu.jpg" alt="">
      <div class="content">
        <h3>Tiramisu</h3>
        <p>Nuestra versión más cremosa del tradicional postre italianao.</p>
      </div>
    </div>
  </div>
</section>
<section th:replace="~{footer/footer}"></section>