<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
    <h1>Hamburguesas</h1>
</div>
<section class="gallery" id="gallery">
    <div class="box-container">

        <div class="box">
            <img src="/img/Brochetas_De_Ternera.jpg" alt="">
            <div class="content">
                <h3>Brocheta De Ternera</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Chuleton.jpg" alt="">
            <div class="content">
                <h3>Chuleton</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Entrecot.jpg" alt="">
            <div class="content">
                <h3>Entrecot</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Filet.jpg" alt="">
            <div class="content">
                <h3>Filet</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Pincha_Pollo.jpg" alt="">
            <div class="content">
                <h3>Pincha De Pollo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Costillar_Cajun..jpg" alt="">
            <div class="content">
                <h3>Costillar Cajun</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Costillar_Mozta_Miel.jpg" alt="">
            <div class="content">
                <h3>Costillar Mostaza Miel</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/g-8.jpg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">ordern now</a>
            </div>
        </div>
    </div>

</section>
<section th:replace="~{footer/footer}"></section>