<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
    <h1>Hamburguesas</h1>
</div>
<section class="gallery" id="gallery">
    <div class="box-container">

        <div class="box">
            <img src="/img/Brochetas_De_Ternera.jpg" alt="">
            <div class="content">
                <h3>Brocheta De Ternera</h3>
                <p>Dos brochetas de jugosa ternera alternada con panceta ibérica y verduras a la brasa.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Chuleton.jpg" alt="">
            <div class="content">
                <h3>Chuleton</h3>
                <p>Jugoso chuletón de vaca vieja madurada con el auténtico sabor a la brasa y acompañado de escalivada.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Entrecot.jpg" alt="">
            <div class="content">
                <h3>Entrecot</h3>
                <p>Corte de vaca a la brasa con una pizca de escamas de sal Maldon y acompañado de “espencat”.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Filet.jpg" alt="">
            <div class="content">
                <h3>Filet Mignon</h3>
                <p>Solomillo de vaca vieja madurada, servido con beicon, cebolla pochada sazonado con sal Maldon y acompañado de “espencat”.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Pincha_Pollo.jpg" alt="">
            <div class="content">
                <h3>Pincho De Pollo</h3>
                <p>Dos pinchos de pechuga de pollo, condimentadas con especias variadas.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Costillar_Cajun..jpg" alt="">
            <div class="content">
                <h3>Costillar Cajun</h3>
                <p>Jugosas costillas de cerdo a la brasa pintadas con salsa cajun.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Costillar_Mozta_Miel.jpg" alt="">
            <div class="content">
                <h3>Costillar Mostaza Miel</h3>
                <p>Jugosas costillas de cerdo a la brasa pintadas con salsa miel moztaza.</p>
            </div>
        </div>
        <div class="box">
            <img src="/img/Costillar_Barbacoa.jpg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Jugosas costillas de cerdo a la brasa pintadas con salsa barbacoa.</p>
            </div>
        </div>
    </div>

</section>
<section th:replace="~{footer/footer}"></section>