<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Pizzas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/Bourbon.jpg" alt="">
      <div class="content">
        <h3>Pizza Bourbon</h3>
        <p>Nata, pollo a la parrilla, mozzarella 100 %, beicon crujiente, cebolla crunch y nuestra salsa bourbon casera.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Julius.jpg" alt="">
      <div class="content">
        <h3>Julius</h3>
        <p>Mozzarella 100 %, pollo crispy, tomate natural, aceitunas rellenas, queso feta, salsa césar.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/La_LLar.jpg" alt="">
      <div class="content">
        <h3>La Llar</h3>
        <p>Salsa carbonara, grana padano, chorizo y mozzarella 100%.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mariachi.jpg" alt="">
      <div class="content">
        <h3>Mariachi</h3>
        <p>Salsa ranchera, mozzarella 100 %, carne especiada estilo tex-mex, pimientos verdes y crujiente de maíz.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Cuatro_Estaciones.jpg" alt="">
      <div class="content">
        <h3>Cuatro Estaciones</h3>
        <p>Tomate, mozzarella 100%, salami, jamón york, champiñones y alcachofas.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Alemana.jpg" alt="">
      <div class="content">
        <h3>Alemana</h3>
        <p>Tomate, mozzarella 100%, jamón york y salchichas americanas</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Boromea.jpg" alt="">
      <div class="content">
        <h3>Boromea</h3>
        <p>Tomate, mozzarella 100% y jamón york.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/CarbonaraPizza.jpg" alt="">
      <div class="content">
        <h3>Carbonara</h3>
        <p>Nata, mozzarella 100%, cebolla, beicon y champiñones.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/De_la_huerta.jpg" alt="">
      <div class="content">
        <h3>De la huerta</h3>
        <p>Tomate, mozzarella 100% y “espencat”.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/FunghiPizza.jpg" alt="">
      <div class="content">
        <h3>Funghi</h3>
        <p>Mozzarella 100 %, doble de champiñones y salsa mery.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/InfiernoPizza.jpg" alt="">
      <div class="content">
        <h3>Infierno</h3>
        <p>Tomate, mozzarella 100%, chorizo y tabasco.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Margarita.jpg" alt="">
      <div class="content">
        <h3>Margarita</h3>
        <p>Tomate y mozzarella 100%.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Regina.jpg" alt="">
      <div class="content">
        <h3>Regina</h3>
        <p>Tomate, mozzarella 100%, jamón york y champiñones.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/BoloñesaPizza.jpg" alt="">
      <div class="content">
        <h3>Boloñesa</h3>
        <p>Salsa boloñesa, mozzarella 100% y carne.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Samoa.jpg" alt="">
      <div class="content">
        <h3>Samoa</h3>
        <p>Nata, mozzarella 100% y jamón york.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Siciliana.jpg" alt="">
      <div class="content">
        <h3>Siciliana</h3>
        <p>Tomate, mozzarella 100%, anchoas, aceitunas negras y táperas.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Toscana.jpg" alt="">
      <div class="content">
        <h3>Toscana</h3>
        <p>Tomate, mozzarella 100%, beicon y champiñones.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Vulcano.jpg" alt="">
      <div class="content">
        <h3>Vulcano</h3>
        <p>Tomate, mozzarella 100%, atún, cebolla y huevo.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Pulled_Pork.jpg" alt="">
      <div class="content">
        <h3>Pulled Pork</h3>
        <p>Carne de cerdo horneada a fuego lento deshilachada, mozzarella 100 %, salsa barcacoa, beicon crujiente y cebolla crunch.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Ranchera.jpg" alt="">
      <div class="content">
        <h3>Ranchera</h3>
        <p>Tomate, mozzarella 100%, carne, chorizo y cebolla.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Serrana.jpg" alt="">
      <div class="content">
        <h3>Serrana</h3>
        <p>Tomate, mozzarella 100%, jamón serrano, aceite de oliva y queso manchego.</p>
      </div>
    </div>

  </div>

</section>
<section th:replace="~{footer/footer}"></section>