<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<div class="titulo_cartas">
  <h1>Pizzas</h1>
</div>
<section class="gallery" id="gallery">
  <div class="box-container">

    <div class="box">
      <img src="/img/Bourbon.jpg" alt="">
      <div class="content">
        <h3>Pizza Bourbon</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Julius.jpg" alt="">
      <div class="content">
        <h3>Julius</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/La_LLar.jpg" alt="">
      <div class="content">
        <h3>La Llar</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Mariachi.jpg" alt="">
      <div class="content">
        <h3>Mariachi</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Cuatro_Estaciones.jpg" alt="">
      <div class="content">
        <h3>Cuatro Estaciones</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
      </div>
    </div>
    <div class="box">
      <img src="/img/Alemana.jpg" alt="">
      <div class="content">
        <h3>Alemana</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Boromea.jpg" alt="">
      <div class="content">
        <h3>Boromea</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/CarbonaraPizza.jpg" alt="">
      <div class="content">
        <h3>Carbonara</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/De_la_huerta.jpg" alt="">
      <div class="content">
        <h3>De la huerta</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/FunghiPizza.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/InfiernoPizza.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Margarita.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Regina.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/BoloñesaPizza.jpg" alt="">
      <div class="content">
        <h3>Boloñesa</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Samoa.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Siciliana.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Toscana.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Vulcano.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Pulled_Pork.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Ranchera.jpg" alt="">
      <div class="content">
        <h3>Ranchera</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>
    <div class="box">
      <img src="/img/Serrana.jpg" alt="">
      <div class="content">
        <h3>tasty food</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
        <a href="#" class="btn">ordern now</a>
      </div>
    </div>

  </div>

</section>
<section th:replace="~{footer/footer}"></section>